
# KISS build objects
kiss_fft/test/bm_*
kiss_fft/test/st_*
kiss_fft/test/tkfc_*
kiss_fft/test/tr_*
kiss_fft/tools/fastconv_*
kiss_fft/tools/fastconvr_*
kiss_fft/tools/fft_*

# build objects
*.o
*.s

# directories
workspace
build
